<?php
/* 
@TODO Is it possible to use _SERVER variable with travis-ci project ?


require_once $_SERVER['SYMFONY_SRC'] . '/Symfony/Component/ClassLoader/UniversalClassLoader.php';

use Symfony\Component\ClassLoader\UniversalClassLoader;
$loader = new UniversalClassLoader();
$loader->registerNamespace('Symfony', array($_SERVER['SYMFONY_SRC'], $_SERVER['SYMFONY_BUNDLE']));
$loader->registerNamespace('Rebolon', $_SERVER['SYMFONY_BUNDLE']);
$loader->registerNamespace('Monolog', $_SERVER['SYMFONY_VENDORS'] . '/monolog/src'); // only to be compatible with the config.yml loaded by config_dev and then config_test
/* * /
$loader->registerNamespace('Sensio', $_SERVER['SYMFONY_BUNDLE']); // only to be compatible with the config.yml loaded by config_dev and then config_test
$loader->registerNamespace('JMS', $_SERVER['SYMFONY_BUNDLE']); // only to be compatible with the config.yml loaded by config_dev and then config_test
$loader->registerNamespace('Highlight', $_SERVER['SYMFONY_BUNDLE']); // only to be compatible with the config.yml loaded by config_dev and then config_test
/* * /
$loader->register();
*/

echo "> Initialize autoload\n";

// try to reuse lib defined in a current symfony2 project
$autoload = __DIR__ . '/../../../../../app/bootstrap.php.cache';
$autoload = null;
if (is_file($autoload)) {
    include $autoload;
} else {
    $vendorDir = __DIR__ . '/vendor';
    if (!is_file($vendorDir . '/symfony/src/Symfony/Component/ClassLoader/UniversalClassLoader.php')) {
        echo "Run Tests/vendor/vendors.php before phpunit\n";
        exit;
    }
    require_once $vendorDir . '/symfony/src/Symfony/Component/ClassLoader/UniversalClassLoader.php';

    $loader = new Symfony\Component\ClassLoader\UniversalClassLoader();
    $loader->registerNamespaces(array(
        'Symfony' => array($vendorDir . '/symfony/src'),
        // will fail on travis because my gitHub username was rebolon instead of 
        // Rebolon => so path for include class will be rebolon/PagerBundle/* 
        // instead of Rebolon/PagerBundle/* which will always fail on linux
		'Rebolon' => array($vendorDir . '/../../../..'), 
    ));
	
    $loader->registerPrefixes(array(
        'Twig_' => $vendorDir . '/twig/lib',
    ));
    $loader->register();
    
    // because of github username (rebolon with lower r) i have to register a
    // specific autoload for the current bundle
    spl_autoload_register(function($class) {
        if (0 === strpos($class, 'Rebolon\\PagerBundle\\')) {
            $path = __DIR__ . '/../' . implode('/', array_slice(explode('\\', $class), 2)) . '.php';

            if (!stream_resolve_include_path($path)) {
                return false;
            }
            require_once $path;
            return true;
        }
    });
}